@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  background-color: #fde4f2;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffb6c1;
}

.container-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 600px;
    width: 80%;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 20px;
}

.section1 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 25px;
    margin-bottom:10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.title-header {
  font-size: 2.5rem;
  font-family: 'Edu NSW ACT Hand Pre', sans-serif;
  font-weight: bold;
  text-align: center;
}

button {
  height: 60px;
  width: 120px;
  border-radius: 30px;
  background-color: brown;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: ease 1s;
}

button:hover {
    transform: scale(1.1);
}

img {
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
  height: 400px;
}

@media (max-width: 600px) {
  .header {
    height: 110px;
  }

  .title-header {
    font-size: 1.6rem;
    padding: 0 10px;
    text-align: center;
  }

  .container {
    justify-content: center;
    align-items: center;
  }

  .container-section {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
  }

  .section1,
  .section2 {
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  .texto {
    text-align: center;
    font-size: 1.4rem;
    padding: 10px;
  }

  img {
    width: 300px;
    margin-top: 10px;
    border-radius: 20px;
  }

  button {
    height: 60px;
    width: 140px;
    font-size: 0.9rem;
  }
}